*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family:'Roboto',sans-serif;
}
.div1{
    
    background-color: #1F2937;
    color: #fff;
    height: 220px;
    
}
.nav-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.nav{
    display: flex;
    width: 1050px;
    padding-top: 10px;
    justify-content: space-between;
}
.nav-group{
    display: flex;
    justify-content: space-around;
}
.header-logo{
    font-size: 21px;
    color: #F9FAF8;
}
.header-link{
    margin-left: 10px;
    font-size: 16px;
    color: #E5E7EB;
}
.bold-text{
    font-size: 35px;
    font-weight: extra-bold;
    padding-right: 10px;
    margin-bottom: 10px;
}
.thin-text{
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 25px;
    margin-bottom: 10px;
}
.div1-content-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.div1-content{
    display: flex;
    width:1050px;
    justify-content: space-between;
}
.image{
    border-radius: 3px;
    height: 130px;
    width: 300px;
        
}
.signup-top{
    background-color: #3882F6;
    color:#F9FAF8;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
}
.div2{
    color:black;
    margin-top: 50px;
    margin-bottom: 20px;
}
.top{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}
.img-row-container{
    display: flex;
    justify-content: center;
    
}
.img-row{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
}
.rand-img{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.h{
    padding:0;
    width: 150px;
    height: 125px;
    border-radius: 5px;
}
.div3{
    padding: 35px;
    background-color: #E5E7EB;
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.qt-txt{
    font-size: 18px;
    
    padding: 25px 300px;
}
.right{
    text-align: right;
    font-weight: bold;
}
.div4{
    color:#fff;
}
.blue-box{
    background-color: #3882F6;
    border-radius: 2px;
    margin: 30px 190px;
    padding: 30px;;
    color:black ;
}
.bluebox-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup-txt > b{
    font-size: 20px;
}
.signup-txt{
    font-size:15px ;
    color: #E5E7EB;
}
.signup{
    background-color: inherit;
    padding: 2px 14px;
    border-style:solid;
    border-width: 1px;
    border-radius: 4px;
    color: #F9FAF8;
    border-color: #F9FAF8;
}
.div5{
    background-color: #1F2937;
    padding: 20px 550px;
    margin-bottom: 0;
}